# TP 2 â€” PrÃ©paration des donnÃ©es avec Python
### RÃ©alisÃ© par  : **ANTON NELCON Steve** - M1 IBD Paris 8

Importer les bibliothÃ¨ques

In [57]:
import pandas as pd
import numpy as np

df = pd.read_csv("catnat_dirty.csv")

In [58]:
df.head() # Affiche les 5 premiÃ¨res lignes du Datasheet

,DisNo.,Country,Region,Subregion,Disaster Type,Disaster Subtype,Disaster Subgroup,Event Name,Start Year,Start Month,Total Deaths,No. Injured,Total Affected,No. Homeless,Total Damage ('000 US$),Magnitude,Latitude,Longitude
0,2020-0121-IDN,Indonesia,Asia,South-eastern Asia,FLOOD,Flood (General),Hydrological,NaN,2020,3.0,1.0,NaN,56488.0,NaN,NaN,NaN,NaN,NaN
1,2008-0524-USA,United States of America,Americas,Northern America,WILDFIRE,Wildfire (General),Climatological,NaN,2008,11.0,NaN,20.0,55020.0,NaN,2000000.0,NaN,NaN,NaN
2,2015-0281-SLB,Solomon Islands,Oceania,Melanesia,storm,Tropical cyclone,Meteorological,Tropical cylone Raquel,2015,7.0,9.0,NaN,400.0,400.0,2000.0,NaN,NaN,NaN
3,2007-0274-KHM,Cambodia,Asia,South-eastern Asia,epidemic,Viral disease,Biological,Dengue,2007,7.0,182.0,NaN,17000.0,NaN,NaN,NaN,NaN,NaN
4,2008-0275-JPN,Japon,Asia,Eastern Asia,earthquake,Ground movement,Geophysical,NaN,2008,7.0,1.0,200.0,470.0,NaN,110000.0,6.8,39.802,141.464

### **Exercice 1 â€” Exploration et diagnostic**

### **â†’ Rappel : Exploration du dataset**

>  **Dimensions du dataset**  : `df.shape` â†’ dimensions

In [59]:
n_lignes, n_colonnes = df.shape #Affiche le nombre de lignes et de colonnes du Datasheet
print(f"Le datasheet est composÃ© de {n_lignes} lignes et {n_colonnes} colonnes .")

Le datasheet est composÃ© de 17510 lignes et 18 colonnes .

>  **Structure et types de donnÃ©es**   : `df.info()` â†’  types et nulls

In [60]:
df.info() # Afficher les informations du datasheet

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17510 entries, 0 to 17509
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DisNo.                   17510 non-null  object
 1   Country                  17510 non-null  object
 2   Region                   17161 non-null  object
 3   Subregion                17510 non-null  object
 4   Disaster Type            17510 non-null  object
 5   Disaster Subtype         17510 non-null  object
 6   Disaster Subgroup        17510 non-null  object
 7   Event Name               3975 non-null   object
 8   Start Year               17510 non-null  object
 9   Start Month              16599 non-null  float64
 10  Total Deaths             12593 non-null  float64
 11  No. Injured              4507 non-null   float64
 12  Total Affected           12951 non-null  float64
 13  No. Homeless             2521 non-null   float64
 14  Total Damage ('000 US$)  5630 non-null   float64
 15  Magnitude                5249 non-null   float64
 16  Latitude                 2821 non-null   float64
 17  Longitude                2821 non-null   float64
dtypes: float64(9), object(9)
memory usage: 2.4+ MB

> ðŸ”¹ **Statistiques descriptives**  : `df.describe()` â†’ statistique

In [61]:
df.describe()

,Start Month,Total Deaths,No. Injured,Total Affected,No. Homeless,Total Damage ('000 US$),Magnitude,Latitude,Longitude
count,16599.000000,1.259300e+04,4.507000e+03,1.295100e+04,2.521000e+03,5.630000e+03,5.249000e+03,2821.000000,2821.000000
mean,6.442798,2.751663e+03,2.538213e+03,6.873218e+05,7.226349e+04,8.448720e+05,3.780406e+04,18.587746,39.675560
std,3.387116,6.577989e+04,3.230524e+04,7.343419e+06,5.158677e+05,5.077550e+06,2.331585e+05,21.591603,77.230791
min,1.000000,-3.600000e+04,1.000000e+00,1.000000e+00,3.000000e+00,2.000000e+00,-5.700000e+01,-72.640000,-178.252000
25%,4.000000,5.000000e+00,1.300000e+01,7.000000e+02,5.020000e+02,1.000000e+04,6.900000e+00,3.295000,0.710000
50%,7.000000,1.800000e+01,5.000000e+01,6.000000e+03,3.000000e+03,7.000000e+04,1.400000e+02,23.027000,49.780000
75%,9.000000,6.100000e+01,2.000000e+02,6.000000e+04,1.700000e+04,3.730000e+05,6.851660e+03,36.623000,102.680000
max,12.000000,3.700000e+06,1.800000e+06,3.300000e+08,1.585000e+07,2.100000e+08,1.302587e+07,67.930000,179.650000

> ðŸ”¹ **Valeurs manquantes**  : `df.isnull().sum()` â†’ Compte des  nulles

In [62]:
df.isnull().sum()

DisNo.                         0
Country                        0
Region                       349
Subregion                      0
Disaster Type                  0
Disaster Subtype               0
Disaster Subgroup              0
Event Name                 13535
Start Year                     0
Start Month                  911
Total Deaths                4917
No. Injured                13003
Total Affected              4559
No. Homeless               14989
Total Damage ('000 US$)    11880
Magnitude                  12261
Latitude                   14689
Longitude                  14689
dtype: int64

> ðŸ”¹ **Doublons** :  `df.duplicated().sum()` â†’ Comptage des doublons

In [63]:
print(f"Il y a {df.duplicated().sum()} doublons dans le datasheet.")

Il y a 150 doublons dans le datasheet.


> ðŸ”¹ **Valeurs uniques**  : `df['col'].value_counts()` â†’  valeurs uniques

In [64]:
print(f"Il y a {df['Country'].value_counts().to_dict()} occurrences pour chaque valeur unique dans cette colonne.")

Il y a {'United States of America': 674, 'China': 622, 'India': 501, 'Philippines': 439, 'Indonesia': 390, 'Japan': 233, 'Mexico': 229, 'Bangladesh': 222, 'Pakistan': 195, 'Iran (Islamic Republic of)': 194, 'Colombia': 189, 'Viet Nam': 189, 'Brazil': 184, 'Australia': 180, 'Afghanistan': 174, 'Peru': 173, 'TÃ¼rkiye': 158, 'France': 144, 'Italy': 139, 'Thailand': 136, 'Russian Federation': 130, 'Canada': 124, 'Democratic Republic of the Congo': 119, 'Nepal': 115, 'Nigeria': 111, 'Taiwan (Province of China)': 108, 'Mozambique': 104, 'Argentina': 104, 'Haiti': 103, 'Guatemala': 100, 'Sri Lanka': 97, 'Ecuador': 97, 'Kenya': 96, 'Ethiopia': 96, 'Malaysia': 95, 'Chile': 93, 'South Africa': 92, 'Bolivia (Plurinational State of)': 90, 'Uganda': 90, 'INDIA': 89, 'Republic of Korea': 89, ' United States of America': 89, 'United Republic of Tanzania': 87, 'Greece': 83, 'Spain': 82, 'Somalia': 80, 'Chine': 78, 'China, Hong Kong Special Administrative Region': 78, 'Peoples Republic of China': 78, 'United Kingdom of Great Britain and Northern Ireland': 78, 'Sudan': 77, 'Myanmar': 77, 'Algeria': 77, 'Niger': 77, 'Madagascar': 76, 'United States of America ': 75, 'Romania': 74, 'Cuba': 73, 'Inde': 72, 'Dominican Republic': 70, 'Papua New Guinea': 69, 'Honduras': 69, 'Germany': 68, 'IndonÃ©sie': 68, 'INDONESIA': 68, ' China': 67, 'Nicaragua': 66, 'Malawi': 66, 'El Salvador': 65, ' United States of America ': 65, 'China ': 65, 'CHINA': 63, 'Tajikistan': 60, 'Costa Rica': 58, 'New Zealand': 57, 'Angola': 56, 'Belgium': 54, 'Poland': 53, 'Phillippines': 53, ' India': 52, 'Morocco': 51, 'Mali': 51, 'Chad': 51, ' Indonesia': 51, 'Cameroon': 51, 'Phillipines': 50, 'Philipines': 50, 'Panama': 49, 'JAPAN': 49, 'Switzerland': 48, 'Yemen': 48, ' China ': 48, 'Etats-Unis': 47, 'Zambia': 47, 'Burundi': 47, 'Paraguay': 47, 'US': 47, 'Fiji': 46, 'U.S.A.': 46, 'Venezuela (Bolivarian Republic of)': 45, 'Austria': 45, 'Zimbabwe': 45, 'Soviet Union': 45, 'India ': 44, 'Burkina Faso': 43, 'USA': 43, 'Portugal': 43, 'United States': 42, 'Japon': 42, 'Rwanda': 41, ' Philippines': 41, 'Vanuatu': 41, 'Indonesia ': 40, 'Benin': 40, 'Bangladesch': 40, 'United  States  of  America': 39, 'Philippines ': 39, 'Jamaica': 37, 'Bengladesh': 37, 'Ghana': 37, 'Mongolia': 37, 'Bulgaria': 37, 'Guinea': 36, "Lao People's Democratic Republic": 36, 'Cambodia': 35, 'Albania': 35, 'Ukraine': 35, "Democratic People's Republic of Korea": 34, 'Mauritania': 34, ' Philippines ': 33, 'Central African Republic': 33, 'Brasil': 33, 'Senegal': 32, 'Sierra Leone': 32, 'Netherlands (Kingdom of the)': 31, 'Puerto Rico': 31, 'Viet Nam ': 30, 'Serbia': 30, ' India ': 29, 'Congo': 29, 'Mexico ': 29, 'Bresil': 29, 'Uruguay': 28, ' Viet Nam': 28, ' Indonesia ': 27, 'Czechia': 27, 'Kyrgyzstan': 27, 'CÃ´te dâ€™Ivoire': 26, 'Togo': 26, 'Egypt': 26, 'Namibia': 26, 'Croatia': 25, 'Japan ': 25, 'Hungary': 25, ' Bangladesh': 24, 'Gambia': 24, 'France ': 23, ' Japan ': 23, ' Mexico ': 23, 'Kazakhstan': 23, 'Georgia': 23, 'Cabo Verde': 22, 'Pakistan ': 22, 'Tunisia': 22, 'Botswana': 22, ' Iran (Islamic Republic of)': 22, 'TÃ¼rkiye ': 22, 'Bahamas': 22, 'South Sudan': 22, 'Solomon Islands': 22, ' Mexico': 21, 'Bangladesh ': 21, 'Afghanistan ': 21, 'Yugoslavia': 21, 'Iran (Islamic Republic of) ': 21, 'Iraq': 21, 'Saint Vincent and the Grenadines': 20, 'Liberia': 20, 'Belize': 20, 'Mauritius': 20, 'Bosnia and Herzegovina': 20, 'Ireland': 20, 'Tonga': 19, ' Peru ': 19, 'Syrian Arab Republic': 19, 'Guinea-Bissau': 19, 'North Macedonia': 19, ' Pakistan': 19, ' Colombia': 19, 'Djibouti': 19, 'Saudi Arabia': 19, ' Brazil ': 18, 'Germany Federal Republic': 18, 'Israel': 18, 'Lesotho': 18, ' Pakistan ': 17, ' Italy': 17, ' Japan': 17, ' Australia': 17, 'Comoros': 17, 'Saint Lucia': 17, 'Slovakia': 17, 'Eswatini': 16, ' Peru': 16, ' France ': 16, 'Colombia ': 16, ' TÃ¼rkiye': 16, 'Viet  Nam': 15, 'Romania ': 15, ' Republic of Korea': 15, ' Colombia ': 15, 'Peru ': 15, 'Samoa': 15, 'Spain ': 15, ' Bangladesh ': 15, ' Afghanistan': 14, 'Democratic Republic of the Congo ': 14, 'Lebanon': 14, 'RÃ©union': 14, ' Thailand ': 14, 'Italy ': 14, 'Martinique': 14, ' Australia ': 14, ' Brazil': 14, 'Haiti ': 14, ' Guatemala': 13, 'Russian Federation ': 13, ' Russian Federation': 13, 'Sweden': 13, ' Kenya': 13, 'Oman': 13, ' Russian Federation ': 13, 'Guadeloupe': 13, ' Canada': 13, 'Nigeria ': 13, 'Lithuania': 13, 'New Caledonia': 13, ' Sudan': 13, ' France': 13, 'Mozambique ': 13, 'Serbia Montenegro': 13, 'Ethiopia ': 13, 'Thailand ': 12, ' Sri Lanka': 12, 'Norway': 12, ' United Republic of Tanzania': 12, 'Belarus': 12, ' Afghanistan ': 12, 'Timor-Leste': 12, ' Nigeria': 12, 'Slovenia': 12, 'United Republic of Tanzania ': 12, 'Somalia ': 12, 'china': 12, 'Gabon': 12, 'Greece ': 12, ' South Africa': 12, 'Canada ': 12, ' TÃ¼rkiye ': 12, 'Republic of Korea ': 12, ' Nigeria ': 11, 'Argentina ': 11, 'india': 11, ' Senegal': 11, ' Chile ': 11, 'Micronesia (Federated States of)': 11, ' Thailand': 11, 'Armenia': 11, 'Papua New Guinea ': 11, 'Azerbaijan': 11, 'Denmark': 11, 'Barbados': 11, ' Chile': 11, 'Jamaica ': 10, 'China, Hong Kong Special Administrative Region ': 10, ' Nepal': 10, ' Sri Lanka ': 10, ' Taiwan (Province of China)': 10, 'Honduras ': 10, ' Haiti': 10, ' Uganda': 10, 'Nepal ': 10, ' Somalia': 10, 'Anguilla': 10, ' Honduras ': 10, 'Jordan': 10, 'Dominica': 10, 'Cyprus': 10, 'Sudan ': 10, 'Cook Islands': 10, 'Bhutan': 10, 'Guatemala ': 10, 'Zimbabwe ': 10, 'United Kingdom of Great Britain and Northern Ireland ': 10, ' Italy ': 10, 'Iran  (Islamic  Republic  of)': 9, ' Ethiopia ': 9, 'Antigua and Barbuda': 9, ' Ecuador': 9, ' Democratic Republic of the Congo ': 9, ' Iran (Islamic Republic of) ': 9, 'South Africa ': 9, ' Chad ': 9, 'Iceland': 9, ' Madagascar ': 9, 'Guyana': 9, 'Sri Lanka ': 9, 'Chile ': 9, ' Rwanda': 9, ' Argentina': 9, ' Bolivia (Plurinational State of)': 9, 'Trinidad and Tobago': 9, 'Guam': 9, 'Republic of Moldova': 9, ' Burundi': 9, ' China, Hong Kong Special Administrative Region ': 9, ' Cuba': 9, 'Madagascar ': 9, ' Viet Nam ': 9, ' Ethiopia': 9, ' Angola': 9, ' Niger': 9, ' Nicaragua': 9, ' Venezuela (Bolivarian Republic of)': 9, 'Luxembourg': 9, 'Soviet Union ': 8, ' Tajikistan': 8, ' Madagascar': 8, 'Brazil ': 8, 'Grenada': 8, 'Kenya ': 8, 'Dominican Republic ': 8, 'Saint Kitts and Nevis': 8, 'Latvia': 8, ' Romania': 8, 'Senegal ': 8, ' Costa Rica': 8, 'State of Palestine': 8, 'Australia ': 8, ' Soviet Union': 8, 'Tuvalu': 8, ' Argentina ': 8, ' Greece': 8, 'South  Africa': 8, ' Sudan ': 8, ' New Zealand ': 8, 'Montserrat': 8, ' Kenya ': 8, "Lao  People's  Democratic  Republic": 8, 'Cambodia ': 7, 'Niger ': 7, ' Tajikistan ': 7, 'Solomon Islands ': 7, ' Ghana ': 7, ' Cameroon': 7, 'philippines': 7, ' Spain': 7, ' Mozambique ': 7, 'Austria ': 7, ' Niger ': 7, 'Republic  of  Korea': 7, ' Mozambique': 7, ' Burkina Faso ': 7, 'Angola ': 7, ' Netherlands (Kingdom of the)': 7, ' Ghana': 7, 'French Polynesia': 7, ' Taiwan (Province of China) ': 7, 'Yemen Arab Republic': 7, 'Maldives': 7, 'Rwanda ': 7, ' Democratic Republic of the Congo': 7, 'Canary Islands': 7, ' Cuba ': 7, 'united states of america': 7, ' Burkina Faso': 7, 'Bolivia (Plurinational State of) ': 7, 'Bulgaria ': 7, 'Myanmar ': 7, 'Czechoslovakia': 7, 'Switzerland ': 7, ' Haiti ': 7, ' Malaysia': 7, 'Yemen ': 7, 'Montenegro': 7, 'New Zealand ': 6, ' Myanmar ': 6, 'Taiwan (Province of China) ': 6, 'Burkina  Faso': 6, ' New Zealand': 6, ' Nicaragua ': 6, ' Honduras': 6, ' Dominican Republic': 6, 'Uganda ': 6, 'Cayman Islands': 6, 'United States Of America': 6, 'Ecuador ': 6, ' Guatemala ': 6, 'UNITED STATES OF AMERICA': 6, 'United States Virgin Islands': 6, 'brazil': 6, ' Jamaica': 6, 'ITALY': 6, ' Belgium ': 6, ' Spain ': 6, ' Germany': 6, ' Mali': 6, ' Paraguay': 6, 'Democratic  Republic  of  the  Congo': 6, ' Fiji': 6, ' Nepal ': 6, ' South Africa ': 6, 'Burundi ': 6, ' Central African Republic': 6, ' Malawi': 6, 'Eritrea': 6, ' Benin ': 6, 'Panama ': 6, ' Panama': 6, ' Kyrgyzstan ': 6, 'Seychelles': 6, ' Venezuela (Bolivarian Republic of) ': 6, 'Marshall Islands': 6, ' Bolivia (Plurinational State of) ': 6, ' United Republic of Tanzania ': 5, 'Ghana ': 5, " Democratic People's Republic of Korea": 5, ' Iraq': 5, 'france': 5, "Lao People's Democratic Republic ": 5, 'Czechia ': 5, ' United Kingdom of Great Britain and Northern Ireland': 5, 'American Samoa': 5, ' Yemen': 5, 'Chad ': 5, ' Jamaica ': 5, 'AUSTRALIA': 5, 'Malawi ': 5, ' Bosnia and Herzegovina ': 5, ' Netherlands (Kingdom of the) ': 5, 'Estonia': 5, ' Croatia': 5, ' Switzerland': 5, 'Morocco ': 5, 'Turks and Caicos Islands': 5, ' United Kingdom of Great Britain and Northern Ireland ': 5, 'Djibouti ': 5, ' Malawi ': 5, ' Greece ': 5, 'Allemagne': 5, ' Bulgaria': 5, 'Nicaragua ': 5, 'Uruguay ': 5, 'Vanuatu ': 5, 'Tokelau': 5, ' Myanmar': 5, 'Algeria ': 5, 'Sao Tome and Principe': 5, 'Venezuela (Bolivarian Republic of) ': 5, ' Poland': 5, ' Malaysia ': 5, 'nepal': 5, 'Russian  Federation': 5, "Democratic People's Republic of Korea ": 5, 'Fiji ': 5, 'Libya': 5, 'Mauritania ': 5, " Lao People's Democratic Republic": 5, 'Azores Islands': 5, ' Algeria ': 5, 'japan': 5, 'New  Zealand': 5, 'Portugal ': 5, ' Gambia ': 5, 'El Salvador ': 5, ' Namibia ': 5, ' Costa Rica ': 4, ' China, Hong Kong Special Administrative Region': 4, ' Slovakia ': 4, ' Zambia': 4, ' Canada ': 4, 'iran (islamic republic of)': 4, 'haiti': 4, ' Mongolia ': 4, 'HONDURAS': 4, ' Burundi ': 4, ' Albania': 4, ' Jordan': 4, ' Norway': 4, 'Germany ': 4, 'Albania ': 4, 'Dominican  Republic': 4, " Lao People's Democratic Republic ": 4, 'Suriname': 4, ' Ecuador ': 4, 'KENYA': 4, 'PHILIPPINES': 4, ' Mali ': 4, ' Portugal': 4, ' Bulgaria ': 4, 'Ukraine ': 4, 'Kiribati': 4, 'Belgium ': 4, ' Germany ': 4, ' Papua New Guinea': 4, 'republic of korea': 4, 'Papua  New  Guinea': 4, 'Central African Republic ': 4, 'Cuba ': 4, ' Mauritania': 4, 'China, Macao Special Administrative Region': 4, ' Belgium': 4, ' Luxembourg': 4, ' Hungary ': 4, 'BANGLADESH': 4, 'mexico': 4, 'PAKISTAN': 4, 'Costa  Rica': 4, 'Costa Rica ': 4, 'Uzbekistan': 4, 'Slovakia ': 4, ' Uganda ': 4, ' Republic of Korea ': 4, ' Congo': 4, ' Somalia ': 4, ' Iceland': 4, ' Bahamas': 4, 'Finland': 4, 'Deutschland': 3, ' RÃ©union': 3, ' Germany Federal Republic': 3, 'SWITZERLAND': 3, 'greece': 3, 'Bosnia and Herzegovina ': 3, 'CÃ´te  dâ€™Ivoire': 3, 'Venezuela  (Bolivarian  Republic  of)': 3, ' Central African Republic ': 3, ' Barbados': 3, ' Jordan ': 3, ' Iraq ': 3, ' Latvia': 3, ' Vanuatu': 3, 'Bolivia  (Plurinational  State  of)': 3, 'Northern Mariana Islands': 3, ' Uruguay': 3, ' Austria': 3, 'Netherlands Antilles': 3, ' Hungary': 3, ' CÃ´te dâ€™Ivoire': 3, ' Saudi Arabia ': 3, 'SOLOMON ISLANDS': 3, ' Saint Lucia': 3, ' Zimbabwe': 3, ' Saudi Arabia': 3, 'Egypt ': 3, ' Trinidad and Tobago': 3, 'Burkina Faso ': 3, ' Papua New Guinea ': 3, ' Senegal ': 3, ' Solomon Islands ': 3, 'Cyprus ': 3, 'colombia': 3, 'THAILAND': 3, "People's Democratic Republic of Yemen": 3, ' Saint Vincent and the Grenadines': 3, 'malawi': 3, 'Guadeloupe ': 3, ' Guinea-Bissau': 3, 'Iran (Islamic Republic Of)': 3, ' South Sudan': 3, ' Yemen ': 3, 'thailand': 3, 'Cook  Islands': 3, ' Soviet Union ': 3, ' Cambodia': 3, 'Syrian  Arab  Republic': 3, 'Saudi Arabia ': 3, 'pakistan': 3, 'TAIWAN (PROVINCE OF CHINA)': 3, ' Benin': 3, ' Czechia': 3, ' Denmark': 3, 'Ireland ': 3, 'Malaysia ': 3, 'UNITED REPUBLIC OF TANZANIA': 3, ' Puerto Rico ': 3, ' Vanuatu ': 3, ' Republic of Moldova': 3, ' Paraguay ': 3, 'Mali ': 3, ' Uruguay ': 3, ' Dominican Republic ': 3, 'China,  Hong  Kong  Special  Administrative  Region': 3, 'United  Republic  of  Tanzania': 3, 'Comoros ': 3, 'Hungary ': 3, 'United  Kingdom  of  Great  Britain  and  Northern  Ireland': 3, ' Mauritania ': 3, 'Uzbekistan ': 3, ' Tonga': 3, 'Zambia ': 3, ' Austria ': 3, 'ecuador': 3, ' Gambia': 3, 'afghanistan': 3, 'South Sudan ': 3, ' Lesotho': 3, 'spain': 3, ' Sweden': 3, 'Guinea-Bissau ': 3, ' Morocco ': 3, ' Bosnia and Herzegovina': 3, ' Uzbekistan ': 3, ' Kazakhstan': 3, 'North  Macedonia': 3, 'Lesotho ': 3, ' Georgia ': 3, 'ECUADOR': 3, 'MEXICO': 3, ' Morocco': 3, 'Paraguay ': 3, 'china, hong kong special administrative region': 3, 'FRANCE': 2, 'panama': 2, 'COLOMBIA': 2, 'Republic of Moldova ': 2, ' Dominica': 2, ' Poland ': 2, 'PAPUA NEW GUINEA': 2, 'ZAMBIA': 2, 'tÃ¼rkiye': 2, 'CANADA': 2, ' RÃ©union ': 2, 'uganda': 2, 'indonesia': 2, 'Bermuda ': 2, 'senegal': 2, 'TÃœRKIYE': 2, 'United Arab Emirates': 2, ' Chad': 2, ' Marshall Islands ': 2, ' Botswana': 2, 'Oman ': 2, 'Kazakhstan ': 2, 'Belarus ': 2, 'Congo ': 2, ' Guadeloupe ': 2, 'ethiopia': 2, 'angola': 2, 'Poland ': 2, ' Lithuania ': 2, ' Lebanon': 2, 'Bermuda': 2, 'CROATIA': 2, 'iran  (islamic  republic  of)': 2, 'burkina faso': 2, 'Soviet  Union': 2, ' Puerto Rico': 2, 'Iraq ': 2, ' Azerbaijan': 2, ' Zimbabwe ': 2, 'Botswana ': 2, 'CHINA, HONG KONG SPECIAL ADMINISTRATIVE REGION': 2, 'uganda ': 2, 'Niue': 2, 'British Virgin Islands': 2, "People's Democratic Republic of Yemen ": 2, 'New Caledonia ': 2, 'SAINT VINCENT AND THE GRENADINES': 2, 'Puerto Rico ': 2, 'CHINA ': 2, 'UKRAINE': 2, 'FIJI': 2, 'Democratic Republic Of The Congo': 2, ' Singapore': 2, ' North Macedonia': 2, 'COMOROS': 2, 'australia': 2, 'VIET NAM': 2, 'GAMBIA': 2, ' El Salvador ': 2, ' El Salvador': 2, ' Togo': 2, ' Portugal ': 2, ' Angola ': 2, 'AFGHANISTAN': 2, ' nigeria': 2, 'French Guiana': 2, 'niger': 2, 'Tonga ': 2, 'SOMALIA': 2, 'ALGERIA': 2, ' Egypt ': 2, 'fiji': 2, 'KAZAKHSTAN': 2, 'NIGER': 2, 'Antigua and Barbuda ': 2, ' Gabon': 2, ' Guam': 2, 'NEPAL': 2, 'MADAGASCAR': 2, 'El  Salvador': 2, 'sudan': 2, 'sri lanka': 2, ' Liberia': 2, 'Liberia ': 2, ' Oman': 2, 'Mauritius ': 2, 'Equatorial Guinea': 2, ' republic of korea ': 2, 'Sao  Tome  and  Principe': 2, ' Solomon Islands': 2, ' Latvia ': 2, ' Niue': 2, ' Mongolia': 2, ' Slovenia ': 2, 'Georgia ': 2, 'Syrian Arab Republic ': 2, ' Ireland ': 2, ' Cyprus ': 2, ' Namibia': 2, ' bangladesh': 2, ' Wallis and Futuna Islands': 2, ' Egypt': 2, ' Israel': 2, ' Guyana': 2, 'taiwan (province of china)': 2, 'IRAN (ISLAMIC REPUBLIC OF)': 2, 'bangladesh': 2, 'United Republic Of Tanzania': 2, 'romania': 2, ' Kyrgyzstan': 2, 'Palau': 2, 'Sierra Leone ': 2, 'italy': 2, 'Netherlands (Kingdom of the) ': 2, 'Azerbaijan ': 2, 'viet nam': 2, ' Algeria': 2, 'Saint  Vincent  and  the  Grenadines': 2, ' Romania ': 2, ' Georgia': 2, ' Cambodia ': 2, 'COSTA RICA': 2, 'Benin ': 2, 'poland': 2, 'Namibia ': 2, ' Comoros ': 2, ' CHINA': 2, 'chile': 2, 'DENMARK': 2, ' Tunisia ': 2, 'Saint BarthÃ©lemy': 2, 'MAURITANIA': 2, ' United States Of America': 2, 'Togo ': 2, 'PANAMA': 2, ' Lesotho ': 2, 'Tajikistan ': 2, 'Sri  Lanka': 2, ' Croatia ': 2, 'united states of america ': 2, ' Cyprus': 2, ' Martinique ': 2, 'WALLIS AND FUTUNA ISLANDS': 1, 'philippines ': 1, 'Puerto  Rico': 1, "DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA ": 1, ' Guinea': 1, ' DOMINICAN REPUBLIC ': 1, ' Cayman Islands ': 1, 'German Democratic Republic': 1, ' mexico': 1, ' REPUBLIC OF KOREA ': 1, ' Republic of Moldova ': 1, 'UNITED REPUBLIC OF TANZANIA ': 1, ' China, Macao Special Administrative Region ': 1, ' afghanistan ': 1, 'Estonia ': 1, 'bahamas': 1, 'Lebanon ': 1, 'SAINT LUCIA': 1, ' somalia': 1, ' German Democratic Republic ': 1, ' REPUBLIC OF MOLDOVA ': 1, 'Wallis and Futuna Islands ': 1, 'AUSTRALIA ': 1, 'CHILE': 1, ' EGYPT ': 1, ' Czechia ': 1, 'Maldives ': 1, 'CÃ”TE Dâ€™IVOIRE': 1, ' Slovenia': 1, 'VENEZUELA (BOLIVARIAN REPUBLIC OF)': 1, 'SAINT  KITTS  AND  NEVIS': 1, 'United  States  Of  America': 1, 'BELGIUM ': 1, ' POLAND': 1, ' Montenegro': 1, 'paraguay': 1, ' Ukraine ': 1, 'Kiribati ': 1, 'NORTHERN MARIANA ISLANDS': 1, ' ALBANIA': 1, 'colombia ': 1, ' portugal': 1, 'ANGOLA': 1, 'KYRGYZSTAN': 1, ' nepal ': 1, ' Seychelles ': 1, ' india': 1, 'Seychelles ': 1, 'venezuela (bolivarian republic of)': 1, 'GUINEA': 1, ' philippines ': 1, ' Finland ': 1, ' South Sudan ': 1, ' INDIA': 1, ' Botswana ': 1, 'BULGARIA': 1, 'CANADA ': 1, 'guatemala': 1, 'HAITI': 1, 'Israel ': 1, 'ROMANIA': 1, ' el salvador ': 1, ' Sierra Leone': 1, 'Denmark ': 1, 'Cabo Verde ': 1, 'GERMANY': 1, ' bulgaria': 1, ' SRI LANKA': 1, 'DJIBOUTI': 1, 'Serbia ': 1, 'Saint Vincent and the Grenadines ': 1, ' australia': 1, ' ETHIOPIA': 1, 'republic  of  moldova': 1, 'Marshall  Islands': 1, ' Eswatini': 1, 'iraq ': 1, ' russian federation': 1, 'martinique': 1, ' MALI': 1, ' Suriname ': 1, ' ethiopia': 1, " People's Democratic Republic of Yemen": 1, 'Kuwait': 1, 'china, hong kong special administrative region ': 1, ' Mauritius ': 1, ' india ': 1, 'Saint Martin (French Part)': 1, 'Lithuania ': 1, ' Serbia Montenegro ': 1, ' CÃ´te dâ€™Ivoire ': 1, 'armenia': 1, 'POLAND': 1, ' Sweden ': 1, ' taiwan (province of china)': 1, 'somalia': 1, 'SLOVAKIA': 1, 'HAITI ': 1, ' Tonga ': 1, ' UNITED STATES OF AMERICA ': 1, ' Sierra Leone ': 1, 'CZECHOSLOVAKIA ': 1, 'CAMBODIA': 1, 'Barbados ': 1, ' Bermuda ': 1, ' united states of america ': 1, 'bolivia (plurinational state of) ': 1, ' Armenia': 1, ' Iceland ': 1, 'Tuvalu ': 1, 'UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND ': 1, 'NICARAGUA': 1, 'BANGLADESH ': 1, 'cuba': 1, 'Saint Kitts and Nevis ': 1, 'Guyana ': 1, 'Solomon  Islands': 1, 'DEMOCRATIC REPUBLIC OF THE CONGO': 1, 'BRAZIL': 1, ' Ireland': 1, 'Bhutan ': 1, ' cambodia': 1, 'BOLIVIA (PLURINATIONAL STATE OF)': 1, 'Netherlands (Kingdom Of The)': 1, ' Micronesia (Federated States of) ': 1, ' Serbia ': 1, 'albania': 1, 'Cameroon ': 1, ' Serbia': 1, 'south africa ': 1, ' Bhutan ': 1, ' New Caledonia': 1, ' CHILE': 1, 'mauritania': 1, 'bolivia (plurinational state of)': 1, 'russian  federation': 1, 'United States Virgin Islands ': 1, 'Grenada ': 1, ' Trinidad and Tobago ': 1, ' Kiribati': 1, 'ghana': 1, 'bermuda': 1, 'Martinique ': 1, 'Eritrea ': 1, ' United Arab Emirates': 1, ' INDONESIA ': 1, ' Yemen Arab Republic ': 1, ' france': 1, ' VIET NAM ': 1, ' Djibouti ': 1, ' JAPAN': 1, 'honduras ': 1, 'Libya ': 1, 'niue': 1, 'Brunei Darussalam': 1, ' Bahamas ': 1, ' Samoa ': 1, 'Bahrain': 1, ' Comoros': 1, 'oman': 1, 'PERU': 1, 'japan ': 1, 'chad': 1, "Lao People'S Democratic Republic": 1, 'GREECE ': 1, ' Congo ': 1, 'ARGENTINA': 1, 'egypt': 1, ' myanmar ': 1, 'ukraine': 1, 'Liechtenstein': 1, ' IRELAND': 1, 'portugal': 1, ' Belize': 1, 'Gabon ': 1, ' IRAN (ISLAMIC REPUBLIC OF)': 1, 'ETHIOPIA': 1, ' Luxembourg ': 1, 'State of Palestine ': 1, 'cameroon': 1, 'French Guiana ': 1, ' Cameroon ': 1, ' BOSNIA AND HERZEGOVINA': 1, 'nicaragua': 1, 'LIBYA': 1, 'Serbia  Montenegro': 1, 'Canary  Islands': 1, 'PALAU': 1, ' Eswatini ': 1, ' Saint Lucia ': 1, ' CHINA ': 1, 'bosnia  and  herzegovina': 1, ' peru': 1, 'djibouti ': 1, 'saudi arabia ': 1, ' benin': 1, ' NICARAGUA': 1, 'ITALY ': 1, 'benin ': 1, 'Saint Helena': 1, 'Azores Islands ': 1, 'JAPAN ': 1, 'peru': 1, ' MALAWI': 1, ' Sint Maarten (Dutch part) ': 1, ' Cabo Verde': 1, ' Marshall Islands': 1, 'MALAYSIA': 1, ' philippines': 1, 'Qatar ': 1, ' central african republic ': 1, 'canada': 1, ' HAITI ': 1, 'Gambia ': 1, 'American  Samoa': 1, 'URUGUAY': 1, 'Yemen Arab Republic ': 1, 'Turks and Caicos Islands ': 1, 'MALI ': 1, 'dominican republic ': 1, 'SUDAN': 1, ' ghana ': 1, 'INDIA ': 1, ' Guinea ': 1, 'sri lanka ': 1, 'Antigua  and  Barbuda': 1, 'UGANDA': 1, ' Palau': 1, 'spain ': 1, ' Dominica ': 1, ' Panama ': 1, 'NIGERIA': 1, ' Albania ': 1, ' Tunisia': 1, 'United  States  Virgin  Islands': 1, ' Saint Vincent and the Grenadines ': 1, ' Belize ': 1, 'Timor-Leste ': 1, 'Iran (Islamic Republic Of) ': 1, 'THAILAND ': 1, 'VANUATU': 1, 'tokelau': 1, 'LESOTHO ': 1, 'saudi arabia': 1, ' Mauritius': 1, 'mozambique': 1, ' Denmark ': 1, 'RUSSIAN FEDERATION': 1, 'Singapore': 1, ' niger': 1, 'papua new guinea ': 1, ' French Polynesia': 1, ' Eritrea ': 1, 'Venezuela (Bolivarian Republic Of)': 1, ' YEMEN': 1, 'SERBIA': 1, ' URUGUAY ': 1, ' Canary Islands ': 1, 'Malta ': 1, 'NEW CALEDONIA': 1, ' tajikistan ': 1, ' Switzerland ': 1, 'camb

 ### **â†’ Ã  faire**

**1. Affichez les dimensions du dataset**

In [65]:
n_lignes, n_colonnes = df.shape #Affiche le nombre de lignes et de colonnes du Datasheet
print(f"Le datasheet est composÃ© de {n_lignes} lignes et {n_colonnes} colonnes .")

Le datasheet est composÃ© de 17510 lignes et 18 colonnes .

**2. Affichez les types de donnÃ©es avec info()**

In [66]:
df.info() # Afficher les informations du datasheet

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17510 entries, 0 to 17509
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DisNo.                   17510 non-null  object
 1   Country                  17510 non-null  object
 2   Region                   17161 non-null  object
 3   Subregion                17510 non-null  object
 4   Disaster Type            17510 non-null  object
 5   Disaster Subtype         17510 non-null  object
 6   Disaster Subgroup        17510 non-null  object
 7   Event Name               3975 non-null   object
 8   Start Year               17510 non-null  object
 9   Start Month              16599 non-null  float64
 10  Total Deaths             12593 non-null  float64
 11  No. Injured              4507 non-null   float64
 12  Total Affected           12951 non-null  float64
 13  No. Homeless             2521 non-null   float64
 14  Total Damage ('000 US$)  5630 non-null   float64
 15  Magnitude                5249 non-null   float64
 16  Latitude                 2821 non-null   float64
 17  Longitude                2821 non-null   float64
dtypes: float64(9), object(9)
memory usage: 2.4+ MB

**3.Comptez les valeurs manquantes par colonne (nombre et pourcentage)**

In [67]:
df.isnull().sum()

DisNo.                         0
Country                        0
Region                       349
Subregion                      0
Disaster Type                  0
Disaster Subtype               0
Disaster Subgroup              0
Event Name                 13535
Start Year                     0
Start Month                  911
Total Deaths                4917
No. Injured                13003
Total Affected              4559
No. Homeless               14989
Total Damage ('000 US$)    11880
Magnitude                  12261
Latitude                   14689
Longitude                  14689
dtype: int64

**4. Comptez le nombre de doublons**

In [68]:
print(f"Il y a {df.duplicated().sum()} doublons dans le datasheet.")

Il y a 150 doublons dans le datasheet.

**5. Affichez les valeurs uniques de Region â€” repÃ©rez les incohÃ©rences**

In [69]:
# Afficher les valeurs uniques de la colonne Region
print("Valeurs uniques de Region :")
print(df["Region"].unique())

# Compter les occurrences pour mieux repÃ©rer les incohÃ©rences
print("\nOccurrences par rÃ©gion :")
print(df["Region"].value_counts())

Valeurs uniques de Region :
['Asia ' 'Americas' 'Oceania' 'Asia' 'ASIA' ' Americas ' 'Africa'
 'Europe ' 'Europe' ' Americas' 'EUROPE' 'AMERICAS ' 'americas' 'AMERICAS'
 nan ' Asia ' ' Africa' 'Americas ' 'asia' ' Oceania' 'ASIA ' 'oceania'
 ' americas ' ' Asia' 'asia ' 'OCEANIA' 'africa' 'AFRICA' 'europe'
 'europe ' ' AMERICAS ' 'americas ' ' AMERICAS' ' Europe ' ' EUROPE'
 ' ASIA' ' Africa ' ' americas' 'africa ' ' asia' ' africa' ' AFRICA '
 'Africa ' ' AFRICA' 'Oceania ' ' asia ' 'AFRICA ' ' europe ' 'EUROPE '
 ' Europe' ' africa ' ' ASIA ' ' europe' ' Oceania ' 'OCEANIA '
 ' OCEANIA ' ' EUROPE ' 'oceania ' ' OCEANIA' ' oceania ' ' oceania']

Occurrences par rÃ©gion :
Region
Asia          3754
Americas      2359
Africa        1688
Europe        1201
ASIA           792
asia           763
americas       504
AMERICAS       486
Asia           429
 Asia          396
Oceania        396
AFRICA         375
africa         370
 Asia          282
EUROPE         265
 Americas      248
europe         232
Americas       231
 Africa        202
Africa         181
 Americas      178
 Africa        140
 ASIA          116
Europe         105
 Europe        100
OCEANIA         84
 asia           82
ASIA            77
oceania         75
 Europe         75
asia            69
 asia           61
 ASIA           60
 AMERICAS       57
americas        56
AMERICAS        46
 americas       44
 AMERICAS       42
AFRICA          42
Oceania         41
 AFRICA         38
 Oceania        38
 africa         37
africa          37
 AFRICA         34
 americas       32
 europe         31
EUROPE          31
europe          30
 EUROPE         26
 africa         25
 Oceania        22
 europe         18
 EUROPE         17
oceania          9
OCEANIA          8
 oceania         7
 OCEANIA         7
 OCEANIA         5
 oceania         5
Name: count, dtype: int64

**6. Affichez les statistiques de Total Deaths â€” repÃ©rez les anomalies**

In [70]:
# Afficher les statistiques de la colonne Total Deaths
print("Statistiques de la colonne Total Deaths :")
print(df["Total Deaths"].describe())

# RepÃ©rer les valeurs les plus Ã©levÃ©es (potentielles anomalies)
print("\nValeurs les plus Ã©levÃ©es :")
print(df["Total Deaths"].sort_values(ascending=False).head())

# VÃ©rifier s'il existe des valeurs Ã©gales Ã  0 ou nÃ©gatives
print("\nNombre de valeurs nulles ou nÃ©gatives :")
print((df["Total Deaths"] <= 0).sum())

Statistiques de la colonne Total Deaths :
count    1.259300e+04
mean     2.751663e+03
std      6.577989e+04
min     -3.600000e+04
25%      5.000000e+00
50%      1.800000e+01
75%      6.100000e+01
max      3.700000e+06
Name: Total Deaths, dtype: float64

Valeurs les plus Ã©levÃ©es :
7633     3700000.0
7630     3000000.0
6252     2500000.0
14398    2000000.0
9400     2000000.0
Name: Total Deaths, dtype: float64

Nombre de valeurs nulles ou nÃ©gatives :
113

## â†’ **Questions:**

**Combien y a-t-il de doublons ?**

In [73]:
nb_doublons = df.duplicated().sum()
print(f"Il y a {nb_doublons} doublons dans le dataset.\n")

Il y a 150 doublons dans le dataset.

**Quelles colonnes ont le plus de valeurs manquantes ?**

In [74]:
missing_counts = df.isnull().sum()
missing_percent = (missing_counts / len(df)) * 100
missing_table = pd.DataFrame({
    "Valeurs manquantes": missing_counts,
    "Pourcentage (%)": missing_percent
})
# Trier par nombre de valeurs manquantes dÃ©croissant
missing_table = missing_table.sort_values(by="Valeurs manquantes", ascending=False)
print("Colonnes avec le plus de valeurs manquantes :")
print(missing_table.head(), "\n")

Colonnes avec le plus de valeurs manquantes :
              Valeurs manquantes  Pourcentage (%)
No. Homeless               14989        85.602513
Longitude                  14689        83.889206
Latitude                   14689        83.889206
Event Name                 13535        77.298686
No. Injured                13003        74.260423

**Combien de variantes diffÃ©rentes pour "Asia" ?**

In [75]:
asia_variants = df[df["Region"].str.contains("Asia", na=False)]["Region"].unique()
print(f"Il y a {len(asia_variants)} variantes diffÃ©rentes pour 'Asia' : {asia_variants}\n")

Il y a 4 variantes diffÃ©rentes pour 'Asia' : ['Asia ' 'Asia' ' Asia ' ' Asia']

**Y a-t-il des valeurs nÃ©gatives dans Total Deaths ?**

In [76]:
negatives_total_deaths = (df["Total Deaths"] < 0).sum()
print(f"Nombre de valeurs nÃ©gatives dans 'Total Deaths' : {negatives_total_deaths}")

Nombre de valeurs nÃ©gatives dans 'Total Deaths' : 67

## **Exercice 2 â€” Suppression des doublons**

**1. Affichez quelques lignes dupliquÃ©es pour vÃ©rifier**

In [ ]:
# Quelques lignes dupliquÃ©es 
doublons_partiels = df[df.duplicated()]
print("Quelques lignes dupliquÃ©es")
display(doublons_partiels.head())  

# Toutes les lignes dupliquÃ©es 
doublons_complets = df[df.duplicated(keep=False)]
print("\n Toutes les lignes dupliquÃ©es")
display(doublons_complets.head())

Quelques lignes dupliquÃ©es

,DisNo.,Country,Region,Subregion,Disaster Type,Disaster Subtype,Disaster Subgroup,Event Name,Start Year,Start Month,Total Deaths,No. Injured,Total Affected,No. Homeless,Total Damage ('000 US$),Magnitude,Latitude,Longitude
1210,2021-0596-PAK,Pakistan,Asia,Southern Asia,Flood,Flood (General),Hydrological,NaN,2021,9.0,19000.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN
1959,2019-0655-BGD,Bangladesh,Asia,Southern Asia,Extreme temperature,Cold wave,Meteorological,NaN,2019,11.0,50.0,4500.0,4500.0,NaN,NaN,7.9,NaN,NaN
2157,2011-9629-LSO,Lesotho,africa,Sub-Saharan Africa,DROUGHT,Drought,Climatological,NaN,2011,12.0,NaN,NaN,725515.0,NaN,NaN,NaN,NaN,NaN
3420,2004-0668-GAB,Gabon,Africa,Sub-Saharan Africa,Epidemic,Viral disease,Biological,Typhoid fever,2004,12.0,1.0,NaN,100.0,NaN,NaN,NaN,NaN,NaN
3494,2002-0406-JPN,JAPAN,Asia,Eastern Asia,Storm,Storm (General),Meteorological,NaN,2002,7.0,1.0,NaN,NaN,NaN,500.0,NaN,NaN,NaN

 Toutes les lignes dupliquÃ©es

,DisNo.,Country,Region,Subregion,Disaster Type,Disaster Subtype,Disaster Subgroup,Event Name,Start Year,Start Month,Total Deaths,No. Injured,Total Affected,No. Homeless,Total Damage ('000 US$),Magnitude,Latitude,Longitude
27,1969-0071-IND,India,ASIA,Southern Asia,Storm,Tropical cyclone,Meteorological,NaN,1969,5.0,600000.0,NaN,260000.0,NaN,8330.0,NaN,NaN,NaN
125,2005-0583-USA,USA,americas,Northern America,Flood,Riverine flood,Hydrological,NaN,2005,10.0,11.0,NaN,3000.0,NaN,NaN,38290.0,NaN,NaN
322,1963-0055-BEL,Belgium,Europe,Western Europe,Extreme Temperature,Cold wave,Meteorological,NaN,1963,NaN,12.0,NaN,NaN,NaN,NaN,-22.0,NaN,NaN
371,2023-0510-MNG,Mongolia,Asia,Eastern Asia,Flood,Flash flood,Hydrological,NaN,2023,8.0,4.0,NaN,1230.0,NaN,NaN,NaN,NaN,NaN
456,1996-0226-CHN,China,Asia,Eastern Asia,Storm,Tropical cyclone,Meteorological,Willie,1996,9.0,38.0,NaN,NaN,NaN,100000.0,130.0,NaN,NaN

**2. Supprimez les doublons exacts**

In [84]:
df = df.drop_duplicates()

**3. VÃ©rifiez que les doublons ont bien Ã©tÃ© supprimÃ©s**

In [86]:
nb_doublons_apres = df.duplicated().sum()
print(f"Nombre de doublons aprÃ¨s suppression : {nb_doublons_apres}")

# Afficher la datasheet aprÃ¨s suppression
print("Datasheet aprÃ¨s suppression des doublons :")
print(df.head())  # Affiche les 5 premiÃ¨res lignes pour vÃ©rifier

Nombre de doublons aprÃ¨s suppression : 0
Datasheet aprÃ¨s suppression des doublons :
          DisNo.                   Country    Region           Subregion  \
0  2020-0121-IDN                 Indonesia     Asia   South-eastern Asia
1  2008-0524-USA  United States of America  Americas    Northern America
2  2015-0281-SLB          Solomon Islands    Oceania           Melanesia
3  2007-0274-KHM                 Cambodia       Asia  South-eastern Asia
4  2008-0275-JPN                     Japon      Asia        Eastern Asia

  Disaster Type    Disaster Subtype Disaster Subgroup              Event Name  \
0         FLOOD     Flood (General)      Hydrological                     NaN
1      WILDFIRE  Wildfire (General)    Climatological                     NaN
2         storm    Tropical cyclone    Meteorological  Tropical cylone Raquel
3      epidemic       Viral disease        Biological                  Dengue
4    earthquake     Ground movement       Geophysical                     NaN

  Start Year  Start Month  Total Deaths  No. Injured  Total Affected  \
0       2020          3.0           1.0          NaN         56488.0
1       2008         11.0           NaN         20.0         55020.0
2       2015          7.0           9.0          NaN           400.0
3       2007          7.0         182.0          NaN         17000.0
4       2008          7.0           1.0        200.0           470.0

   No. Homeless  Total Damage ('000 US$)  Magnitude  Latitude  Longitude
0           NaN                      NaN        NaN       NaN        NaN
1           NaN                2000000.0        NaN       NaN        NaN
2         400.0                   2000.0        NaN       NaN        NaN
3           NaN                      NaN        NaN       NaN        NaN
4           NaN                 110000.0        6.8    39.802    141.464

## **Exercice 3 â€” Correction des types**

**1. VÃ©rifiez le type de Start Year**

In [87]:
print("Type actuel de 'Start Year' :", df['Start Year'].dtype, "\n")

Type actuel de 'Start Year' : object

**2. Affichez quelques valeurs problÃ©matiques (contenant "Year" ou "AD")**

In [88]:
valeurs_problemes = df[df['Start Year'].str.contains("Year|AD", na=False)]
print("Valeurs problÃ©matiques dans 'Start Year' :")
print(valeurs_problemes['Start Year'].head(), "\n")

Valeurs problÃ©matiques dans 'Start Year' :
26       1982 AD
138    Year 2012
480      2021 AD
506    Year 2017
634    Year 2003
Name: Start Year, dtype: object

**3. Nettoyez la colonne : supprimez le texte et convertissez en numÃ©rique**

In [89]:
df['Start Year'] = df['Start Year'].str.replace(r"[^\d]", "", regex=True)  # garder seulement les chiffres
df['Start Year'] = pd.to_numeric(df['Start Year'], errors='coerce')        # convertir en numÃ©rique

**4. VÃ©rifiez le rÃ©sultat**

In [90]:
print("Type aprÃ¨s conversion :", df['Start Year'].dtype)
print("Quelques valeurs aprÃ¨s nettoyage :")
print(df['Start Year'].head())

Type aprÃ¨s conversion : int64
Quelques valeurs aprÃ¨s nettoyage :
0    2020
1    2008
2    2015
3    2007
4    2008
Name: Start Year, dtype: int64

# **Exercice 4 â€” Traitement des valeurs manquantes**

**1.Pour Region (peu de nulls) : supprimez les lignes avec null**

In [91]:
df = df.dropna(subset=['Region'])

**2.Pour Event Name : remplacez les nulls par "Non nommÃ©"**

In [92]:
df['Event Name'] = df['Event Name'].fillna("Non nommÃ©")

**3. Pour Total Deaths : dÃ©cidez d'une stratÃ©gie et appliquez-la**

In [93]:
df['Total Deaths'] = df['Total Deaths'].fillna(df['Total Deaths'].median())

**4. Pour Magnitude : laissez les nulls (n'a pas de sens pour tous les types)**

**5. VÃ©rifiez le rÃ©sultat**

In [94]:
print("Valeurs manquantes par colonne aprÃ¨s traitement :")
print(df.isnull().sum())

Valeurs manquantes par colonne aprÃ¨s traitement :
DisNo.                         0
Country                        0
Region                         0
Subregion                      0
Disaster Type                  0
Disaster Subtype               0
Disaster Subgroup              0
Event Name                     0
Start Year                     0
Start Month                  890
Total Deaths                   0
No. Injured                12643
Total Affected              4441
No. Homeless               14570
Total Damage ('000 US$)    11540
Magnitude                  11929
Latitude                   14289
Longitude                  14289
dtype: int64

# **Exercice 5 â€” Traitement des outliers**

**1.Identifiez les valeurs nÃ©gatives dans Total Deaths**

In [95]:
neg_total_deaths = df[df['Total Deaths'] < 0]
print("Valeurs nÃ©gatives dans Total Deaths :")
print(neg_total_deaths, "\n")

Valeurs nÃ©gatives dans Total Deaths :
              DisNo.      Country    Region                        Subregion  \
33     2002-0849-GTM    Guatemala  Americas  Latin America and the Caribbean
136    1961-0016-ETH     ethiopia    Africa               Sub-Saharan Africa
293    1983-0437-JPN        Japan      Asia                     Eastern Asia
607    1985-0009-IDN    Indonesia     Asia                South-eastern Asia
754    1987-0330-USA   Etats-Unis  Americas                 Northern America
...              ...          ...       ...                              ...
16609  2023-0095-MDG   Madagascar    AFRICA               Sub-Saharan Africa
16653  1999-0354-MMR      Myanmar      Asia               South-eastern Asia
16790  1999-0728-PHL  Philippines      Asia               South-eastern Asia
16851  1987-0344-CHN        China      Asia                     Eastern Asia
16922  2018-0056-IDN    INDONESIA      Asia               South-eastern Asia

             Disaster Type       Disaster Subtype Disaster Subgroup  \
33                   storm       Tropical cyclone    Meteorological
136             EARTHQUAKE        Ground movement       Geophysical
293             Earthquake        Ground movement       Geophysical
607                  Flood            Flash flood      Hydrological
754                  Storm  Blizzard/Winter storm    Meteorological
...                    ...                    ...               ...
16609                Storm       Tropical cyclone    Meteorological
16653                Flood            Flash flood      Hydrological
16790                STORM        Storm (General)    Meteorological
16851                Storm       Tropical cyclone    Meteorological
16922  Mass Movement (Wet)        Landslide (wet)      Hydrological

                      Event Name  Start Year  Start Month  Total Deaths  \
33                       Isidore        2002          9.0          -2.0
136                    Non nommÃ©        1961          6.0         -30.0
293                    Non nommÃ©        1983          8.0          -1.0
607                    Non nommÃ©        1985          2.0         -21.0
754                    Non nommÃ©        1987         12.0         -61.0
...                          ...         ...          ...           ...
16609  Tropical cyclone 'Freddy'        2023          2.0         -17.0
16653                  Non nommÃ©        1999          8.0         -22.0
16790                     Reming        1999         10.0          -1.0
16851                       Ruth        1987          6.0         -40.0
16922                  Non nommÃ©        2018          2.0         -15.0

       No. Injured  Total Affected  No. Homeless  Total Damage ('000 US$)  \
33             NaN          1500.0           NaN                    100.0
136            NaN             NaN           NaN                      NaN
293           28.0            28.0           NaN                      NaN
607            NaN           300.0           NaN                      NaN
754            NaN             NaN           NaN                 115000.0
...            ...             ...           ...                      ...
16609          NaN        299000.0           NaN                      NaN
16653          NaN         50000.0       50000.0                      NaN
16790          NaN          5791.0           NaN                      NaN
16851          NaN             NaN           NaN                      NaN
16922         14.0         50014.0           NaN                      NaN

       Magnitude  Latitude  Longitude
33           NaN       NaN        NaN
136          6.5      10.4      39.90
293          5.3      35.5     139.07
607      16540.0       NaN        NaN
754          NaN       NaN        NaN
...          ...       ...        ...
16609      165.0       NaN        NaN
16653        NaN       NaN        NaN
16790        NaN       NaN        NaN
16851        NaN       NaN        NaN
16922        NaN       NaN        NaN

[65 rows x 18 columns]

**2. Identifiez les valeurs aberrantes dans Magnitude (> 10)**

In [96]:
outliers_magnitude = df[df['Magnitude'] > 10]
print("Valeurs aberrantes dans Magnitude (>10) :")
print(outliers_magnitude, "\n")

Valeurs aberrantes dans Magnitude (>10) :
              DisNo.                           Country    Region  \
5      1997-0566-BOL  Bolivia (Plurinational State of)  Americas
32     1996-0215-LAO  Lao People's Democratic Republic      Asia
34     2002-0379-USA          United States of America  AMERICAS
40     1995-0198-THA                          Thailand     Asia
42     1996-0298-IND                             India      Asia
...              ...                               ...       ...
17479  2008-0043-MDG                        MADAGASCAR    Africa
17490  2003-0447-SOM                           Somalia    Africa
17499  2022-0099-MDG                        Madagascar    Africa
17501  2018-0123-AUS                         Australia   Oceania
17502  1991-0131-MDV                          Maldives      Asia

                             Subregion Disaster Type  Disaster Subtype  \
5      Latin America and the Caribbean         flood    Riverine flood
32                  South-eastern Asia         Flood    Riverine flood
34                    Northern America      Wildfire       Forest fire
40                  South-eastern Asia         Flood    Riverine flood
42                       Southern Asia         STORM  Tropical cyclone
...                                ...           ...               ...
17479               Sub-Saharan Africa         Storm  Tropical cyclone
17490               Sub-Saharan Africa         Flood    Riverine flood
17499               Sub-Saharan Africa         Storm  Tropical cyclone
17501        Australia and New Zealand         Flood   Flood (General)
17502                    Southern Asia         Storm    Severe weather

      Disaster Subgroup               Event Name  Start Year  Start Month  \
5          Hydrological                Non nommÃ©        1997          3.0
32         Hydrological                Non nommÃ©        1996          8.0
34       Climatological                Non nommÃ©        2002          6.0
40         Hydrological                Non nommÃ©        1995          8.0
42       Meteorological                Non nommÃ©        1996         12.0
...                 ...                      ...         ...          ...
17479    Meteorological           Cyclone "Fame"        2008          1.0
17490      Hydrological                Non nommÃ©        2003          8.0
17499    Meteorological  Tropical storm 'Dumako'        2022          2.0
17501      Hydrological                Non nommÃ©        2018          3.0
17502    Meteorological                Non nommÃ©        1991          5.0

       Total Deaths  No. Injured  Total Affected  No. Homeless  \
5              16.0          NaN             NaN           NaN
32             30.0          NaN        420000.0           NaN
34             18.0          NaN          1269.0        1269.0
40            231.0          NaN       4280984.0       56984.0
42              6.0          NaN        335000.0           NaN
...             ...          ...             ...           ...
17479          12.0          NaN          8613.0        3156.0
17490           1.0          NaN           300.0           NaN
17499          14.0          NaN          9900.0           NaN
17501          18.0          NaN           600.0           NaN
17502          18.0          NaN         23849.0       23849.0

       Total Damage ('000 US$)  Magnitude  Latitude  Longitude
5                      35000.0  365800.00       NaN        NaN
32                         NaN     200.00       NaN        NaN
34                    200500.0    1320.00       NaN        NaN
40                    140500.0  444500.00       NaN        NaN
42                         NaN     180.00       NaN        NaN
...                        ...        ...       ...        ...
17479                      NaN     130.00       NaN        NaN
17490                      NaN     550.00       NaN        NaN
17499                      NaN      75.00       NaN        NaN
17501                  11400.0  105583.27   -17.015    145.218
17502                  30000.0     144.00       NaN        NaN

[3364 rows x 18 columns]

**3. DÃ©cidez : supprimer ou corriger ?**

- Total Deaths : valeurs nÃ©gatives impossible â†’ supprimer ces ligne
- Magnitude : valeurs >10 probablement erreurs â†’ capper Ã  10

**4.Appliquez le traitement**

In [97]:
df = df[df['Total Deaths'] >= 0]            # Supprimer lignes avec Total Deaths nÃ©gatif
df['Magnitude'] = df['Magnitude'].clip(upper=10)  # Capper Magnitude Ã  10

**5. VÃ©rifiez le rÃ©sultat**

In [98]:
print("VÃ©rification aprÃ¨s traitement :")
print("Nombre de valeurs nÃ©gatives dans Total Deaths :", (df['Total Deaths'] < 0).sum())
print("Nombre de valeurs supÃ©rieures Ã  10 dans Magnitude :", (df['Magnitude'] > 10).sum())

VÃ©rification aprÃ¨s traitement :
Nombre de valeurs nÃ©gatives dans Total Deaths : 0
Nombre de valeurs supÃ©rieures Ã  10 dans Magnitude : 0

# **Exercice 6 â€” Nettoyage du texte**

**1.Nettoyez Region : strip + title case**

In [99]:
df['Region'] = df['Region'].str.strip().str.title()
print("CatÃ©gories de Region aprÃ¨s nettoyage :")
print(df['Region'].value_counts(), "\n")
print(f"Nombre de catÃ©gories uniques : {df['Region'].nunique()}\n")

CatÃ©gories de Region aprÃ¨s nettoyage :
Region
Asia        6787
Americas    4222
Africa      3133
Europe      2114
Oceania      693
Name: count, dtype: int64

Nombre de catÃ©gories uniques : 5

**2. VÃ©rifiez avec value_counts() â€” combien de catÃ©gories maintenant ?**

In [100]:
df['Disaster Type'] = df['Disaster Type'].str.strip().str.title()

**3. Nettoyez Disaster Type de la mÃªme maniÃ¨re**

In [101]:
df['Country'] = df['Country'].str.strip().str.title()

**4. Nettoyez Country : strip + title case**

In [102]:
corrections_pays = {
    "Usa": "United States",
    "U.S.A": "United States",
    "Uk": "United Kingdom",
    "U.K.": "United Kingdom",
}

df['Country'] = df['Country'].replace(corrections_pays)

**5.Corrigez les variantes de pays (USA â†’ United States, etc.)**

In [103]:
print("Quelques pays aprÃ¨s correction :")
print(df['Country'].value_counts().head(10))

Quelques pays aprÃ¨s correction :
Country
United States Of America    904
China                       849
India                       709
Philippines                 556
Indonesia                   554
Japan                       344
Mexico                      297
Bangladesh                  282
Pakistan                    256
Viet Nam                    254
Name: count, dtype: int64

# **Exercice 7 â€” CrÃ©ation de colonnes utiles**

**1CrÃ©ez une colonne Decennie Ã  partir de Start Year**

In [104]:
df['Start Year'] = pd.to_numeric(df['Start Year'], errors='coerce')
df['Decennie'] = (df['Start Year'] // 10) * 10

**2. CrÃ©ez une colonne Has_Deaths (boolÃ©en : True si Total Deaths > 0)**

In [105]:
df['Has_Deaths'] = df['Total Deaths'] > 0

**3. VÃ©rifiez vos nouvelles colonnes**

In [106]:
print("Quelques lignes avec les nouvelles colonnes :")
print(df[['Start Year', 'Decennie', 'Total Deaths', 'Has_Deaths']].head())

# VÃ©rification rapide des valeurs uniques
print("\nValeurs uniques dans Decennie :", df['Decennie'].unique())
print("Valeurs uniques dans Has_Deaths :", df['Has_Deaths'].unique())

Quelques lignes avec les nouvelles colonnes :
   Start Year  Decennie  Total Deaths  Has_Deaths
0        2020      2020           1.0        True
1        2008      2000          18.0        True
2        2015      2010           9.0        True
3        2007      2000         182.0        True
4        2008      2000           1.0        True

Valeurs uniques dans Decennie : [2020 2000 2010 1990 1960 1910 1970 1980 1920 1900 1940 1930 1950]
Valeurs uniques dans Has_Deaths : [ True False]

# **Exercice 8 â€” SÃ©lection et export**

**1. SÃ©lectionnez les colonnes utiles pour l'analyse**

In [107]:
colonnes_utiles = [
    'DisNo.', 'Country', 'Region', 'Subregion', 'Disaster Type', 
    'Disaster Subtype', 'Disaster Subgroup', 'Event Name', 
    'Start Year', 'Start Month', 'Total Deaths', 'No. Injured',
    'Total Affected', 'No. Homeless', "Total Damage ('000 US$)",
    'Magnitude', 'Latitude', 'Longitude', 'Decennie', 'Has_Deaths'
]

**2. Renommez les colonnes si nÃ©cessaire (noms clairs, sans espaces)**

In [111]:
df_export = df[colonnes_utiles]  

df_export = df_export.rename(columns={
    'DisNo.': 'Disaster_No',
    'Disaster Type': 'Disaster_Type',
    'Disaster Subtype': 'Disaster_Subtype',
    'Disaster Subgroup': 'Disaster_Subgroup',
    'Event Name': 'Event_Name',
    'Start Year': 'Start_Year',
    'Start Month': 'Start_Month',
    'Total Deaths': 'Total_Deaths',
    'No. Injured': 'No_Injured',
    'Total Affected': 'Total_Affected',
    'No. Homeless': 'No_Homeless',
    "Total Damage ('000 US$)": 'Total_Damage',
})

**3.  Faites une vÃ©rification finale avec info() et head()**

In [112]:
print("RÃ©sumÃ© du dataset final :")
df_export.info()
print("\nAperÃ§u des premiÃ¨res lignes :")
print(df_export.head())

RÃ©sumÃ© du dataset final :
<class 'pandas.core.frame.DataFrame'>
Index: 16949 entries, 0 to 17509
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Disaster_No        16949 non-null  object
 1   Country            16949 non-null  object
 2   Region             16949 non-null  object
 3   Subregion          16949 non-null  object
 4   Disaster_Type      16949 non-null  object
 5   Disaster_Subtype   16949 non-null  object
 6   Disaster_Subgroup  16949 non-null  object
 7   Event_Name         16949 non-null  object
 8   Start_Year         16949 non-null  int64
 9   Start_Month        16061 non-null  float64
 10  Total_Deaths       16949 non-null  float64
 11  No_Injured         4358 non-null   float64
 12  Total_Affected     12522 non-null  float64
 13  No_Homeless        2432 non-null   float64
 14  Total_Damage       5448 non-null   float64
 15  Magnitude          5065 non-null   float64
 16  Latitude           2716 non-null   float64
 17  Longitude          2716 non-null   float64
 18  Decennie           16949 non-null  int64
 19  Has_Deaths         16949 non-null  bool
dtypes: bool(1), float64(9), int64(2), object(8)
memory usage: 2.6+ MB

AperÃ§u des premiÃ¨res lignes :
     Disaster_No                   Country    Region           Subregion  \
0  2020-0121-IDN                 Indonesia      Asia  South-eastern Asia
1  2008-0524-USA  United States Of America  Americas    Northern America
2  2015-0281-SLB           Solomon Islands   Oceania           Melanesia
3  2007-0274-KHM                  Cambodia      Asia  South-eastern Asia
4  2008-0275-JPN                     Japon      Asia        Eastern Asia

  Disaster_Type    Disaster_Subtype Disaster_Subgroup              Event_Name  \
0         Flood     Flood (General)      Hydrological               Non nommÃ©
1      Wildfire  Wildfire (General)    Climatological               Non nommÃ©
2         Storm    Tropical cyclone    Meteorological  Tropical cylone Raquel
3      Epidemic       Viral disease        Biological                  Dengue
4    Earthquake     Ground movement       Geophysical               Non nommÃ©

   Start_Year  Start_Month  Total_Deaths  No_Injured  Total_Affected  \
0        2020          3.0           1.0         NaN         56488.0
1        2008         11.0          18.0        20.0         55020.0
2        2015          7.0           9.0         NaN           400.0
3        2007          7.0         182.0         NaN         17000.0
4        2008          7.0           1.0       200.0           470.0

   No_Homeless  Total_Damage  Magnitude  Latitude  Longitude  Decennie  \
0          NaN           NaN        NaN       NaN        NaN      2020
1          NaN     2000000.0        NaN       NaN        NaN      2000
2        400.0        2000.0        NaN       NaN        NaN      2010
3          NaN           NaN        NaN       NaN        NaN      2000
4          NaN      110000.0        6.8    39.802    141.464      2000

   Has_Deaths
0        True
1        True
2        True
3        True
4        True

**4. Exportez en CSV : catnat_clean.csv**

In [113]:
df_export.to_csv("catnat_clean.csv", index=False)
print("\nLe dataset nettoyÃ© a Ã©tÃ© exportÃ© vers 'catnat_clean.csv'.")

Le dataset nettoyÃ© a Ã©tÃ© exportÃ© vers 'catnat_clean.csv'.

# **Exercice 9 â€” VÃ©rification dans Tableau**

**1.Ouvrez Tableau Public**

**2. Connectez-vous au fichier catnat_clean.csv**

**3.VÃ©rifiez dans l'Ã©cran "Source de donnÃ©es" :**
    **Les types sont-ils corrects ? (# pour nombres, Abc pour texte)**
    **Les nombres sont-ils bien reconnus ?**

oui tout est correct

**4.CrÃ©ez un bar chart : Type_Catastrophe vs COUNT(ID_Catastrophe)**

 **Les catÃ©gories sont-elles propres ? (pas de doublons)**

oui tout fonctionne correctement

**5.CrÃ©ez un bar chart : Region vs SUM(Deces)**

**Les 5 rÃ©gions sont-elles bien distinctes ?**

oui , nous voyons les 5 pays

**6.rÃ©ez une carte avec Country**

**Les pays sont-ils reconnus ?**

oui , nous voyons les pays

** Lien vers Tableau public** : https://public.tableau.com/app/profile/steve.anton.nelcon/viz/TP1-M1IBD/Catastrophe?showOnboarding=true